@tailwind base;
@tailwind components;
@tailwind utilities;

/*Header*/
.header-top {
    background-color: #939878;
}
.header-bottom {
    max-width: 1280px;
}
.header__image {
    height: 32px;
    width: 105px;
}
.header__find {
    max-width: 159px;
}

#input1 {
    height: 42px;
}

/*Working*/
.working {
    margin-top: 120px;
}

.working__card-1,
.working__card-2,
.working__card-3 {
    max-width: 405px;
}

.working__text {
    max-width: 754px;
    padding-bottom: 60px;
}

/*Comfort*/
.comfort {
    margin-top: 130px;
}

.comfort__content-a {
    width: 107px;
}

.comfort__content-a2,
.comfort__content-a3 {
    height: 50px;
    width: 192px;
}

.comfort__content-a4 {
    width: 127px;
}

.comfort__content-item {
    max-width: 245px;
}

/*Area*/
.area__a {
    width: 92px;
}

.area__wrapper-item {
    max-width: 405px;
}

.area {
    background-color: #F5F5F2;
    padding: 132px 0 160px 0;
}

/*Locations*/
.locations {
    background-color: #F5F5F2;
    padding-bottom: 128px;
}

.locations__content {
    padding-top: 73px;
}


.locations__content-item {
    max-width: 416px;
}

/*Family*/
.family {
    background: linear-gradient(#F5F5F2 50%, #FFF 50%);
}
.family__content {
    background-color: #65665C;
    max-width: 1280px;
    padding: 96px 0;
}

.family__content-p {
    max-width: 765px;
    color: #E7E8E3;
}

.family__content-a {
    width: 137px;
    height: 50px;
}

/*Customers*/
.customers__content-item {
    max-width: 405px;
    height: 300px;
}

/*Last*/
.last {
    background-color: #F5F5F2;
}
.last__a {
    max-width: 53px;
}

.last__p {
    max-width: 710px;
}

.last__a2 {
    height: 50px;
    width: 108px;
}

.last__content-item {
    max-width: 405px;
}

.last__content-a {
    background-color: #FAE8E1;
    height: 30px;
    max-width: 62px;
}